.app input {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 2px solid #444;
    background-color: #fff;
    transition: .3s;
}

.app input:hover {
    background-color: #eee;
    border-color: #000;
}